main {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  main {
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 640px;
  }
}

@media (min-width: 1024px) {
  main {
    padding-top: 20px;
    padding-left: 64px;
    padding-right: 64px;
    max-width: 1024px;
  }
}